@font-face {
    font-family: 'captureit'; /* Give your font a name */
    src: url('capture_it/Capture_it.ttf') format('truetype'),
    /* Add additional formats if necessary */
  }

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* MAIN */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
}

h1 {
    color: rgb(92, 194, 110);
    font-size: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

p {
    color: rgb(92, 194, 110);
    padding-left: 50px;
    padding-right: 50px;
}

/* HEADER STYLING */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-right: 40px;
}

.social_icons {
    display: flex;
    gap: 20px;
}

.logo {
    max-width: 300px;
    margin: 0;
    padding: 0;
}

/* IDENTITY SECTION */

.identity_section, .activity_section {
    display: flex;
    background-color: black;
    max-height: 1000px;
}

.text_left, .large_img {
    flex: 1;
    max-width: 50%;
}

/* ACTIVITY SECTION */

.text_right, .large_img {
    flex: 1;
    max-width: 50%;
}

.text_left, .text_right {
    justify-content: center;
    align-items: start;
    padding-top: 150px;
}

/* FOOTER */

.footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}